
#errorMessage {
    color:red;
}

.filter-currencies {
    border: solid 1px #dbdbdb;
    display: block;
    padding:10px;
}

.select-filter {
    width:100%;
}

.left-filter-block{
    float:left;
    display: block;
    margin:10px;
}
.left-filter-block-width{
    width:20%;
}
.input-data {
    width:120px;
}


.clear {
    clear:both;
}